/* * {
  border: 0.01rem solid rgba(255, 0, 0, 0.388);
} */

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  width: 100%;
  background-color: rgb(255, 226, 234);
  background-image: radial-gradient(#7224583b 1px, transparent 1px);
  background-size: 24px 24px, cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  height: 100vh;
  position: relative;
}

.header {
  width: 90%;
  position: relative;
  margin: 2rem 0 2rem 0;
  display: flex;
}


.currency-container{
  position: absolute;
  left: 20%;
  display: flex;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 40px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  height: 40px;
}

.currency {
  display: flex;
  align-items: center;
  background: linear-gradient(145deg, #ffb3d1, #ff99bf);
  padding: 10px 16px;
  border-radius: 30px;
  box-shadow: inset 2px 2px 5px rgba(255, 255, 255, 0.142),
    inset -4px -4px 8px rgba(0, 0, 0, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease;
  margin: 5px;
}

.currency:hover {
  transform: translateY(-3px);
}

.currency img {
  width: 28px;
  height: 28px;
  margin-right: 10px;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.2));
}

.currency span {
  color: white;
  font-weight: bold;
  font-size: 16px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  margin-right: 3px;
}

/* BUTTONS */

.btns {
  position: absolute;
  right: 0%;
  display: flex;
  gap: 10px;
}
.logo {
  font-size: 2.2rem;
  font-weight: 700;
  color: #fc55ab;
}
/* Ердийн товч */
.btns button {
  padding: 12px 40px;
  border-radius: 20px;
  font-weight: 600;
  cursor: pointer;
  font-size: 0.9rem;
  background-color: transparent;
  color: #fc55ab;
  border: 1px solid #fc55ab;
  box-shadow: 0 0 10px rgba(255, 182, 193, 0.3);
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: all 0.4s ease;
  height: 40px;
}

/* Hover үед */
.btns button:hover::before,
.btns button.active::before {
  opacity: 1;
}

.btns button:hover,
.btns button.active {
  box-shadow: 0 0 20px rgba(242, 130, 205, 0.6);
  color: white;
  transform: scale(1.05);
  border: none;
}

/* Градиент арын давхарга */
.btns button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, #fc55ab, #c267fe);
  z-index: -1;
  transition: opacity 0.4s ease;
  opacity: 0;
  border-radius: 20px;
}

/*PROFILE BAR*/

.profile-bar {
  position: absolute;
  margin-top: 2rem;
  left: 2.5rem;
  width: 280px;
  background: #fc55ab;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  font-family: "Segoe UI", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 111;
  height: 120px;
}
.profile-pink {
  position: relative;
  width: 277px;
  background: white;
  border-radius: 19px 19px 15px 15px;
  z-index: 999;
  height: 80px;
  margin-top: 1.5px;
}

.profile-img img {
  width: 60px;
  height: 60px;
  border-radius: 15px;
  object-fit: cover;
  position: absolute;
  left: 8px;
  top: 8px;
}

.text {
  position: absolute;
  left: 76px;
  top: 8px;
}
#process {
  margin-top: 5px;
  width: 80%;
  height: 16px;
  background-color: rgb(9, 202, 9);
  border-radius: 0 0 10px 0;
}
.point {
  margin: auto;
  color: white;
  font-size: 12px;
  font-weight: 500;
}

.hero-bar {
  position: absolute;
  margin-top: 10.5rem;
  left: 2.5rem;
  width: 260px;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 20px;
  gap: 10px;
  padding: 50px 10px 10px 10px;
}

.hero-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5px;
}
.hero-bar img {
  width: 90%;
  background-color: rgba(241, 241, 241, 0.597);
  border-radius: 20px;
}

.list {
  position: absolute;
  left: 14px;
  top: 17.5px;
  font-weight: 600;
  font-size: 15px;
}

.hero {
  width: 60%;
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
}

.color-bar {
  position: absolute;
  right: 2.5rem;
  top: 6rem;
  width: 260px;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 20px;
  gap: 20px;
  padding: 50px 20px 20px 20px;
}
.color {
  height: 125px;
  border-radius: 20px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding-bottom: 5px;
  font-weight: bold;
  font-size: 0.8rem;
}

.colorlist {
  position: absolute;
  left: 22px;
  top: 22px;
  font-weight: bold;
}

.pick {
  position: absolute;
  right: 2.5rem;
  top: 38rem;
}

.pick button {
  width: 300px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 2rem;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(255, 182, 193, 0.3);
  transition: all 0.4s ease;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  color: white;
  background: linear-gradient(120deg, #fc55ab, #c267fe);
  border: none;
}

.pick button:hover {
  box-shadow: 0 0 20px rgba(242, 130, 205, 0.6);
  transform: scale(1.02);
}

.selected {
  border: 1px solid #ff4fab;
  border-radius: 10px;
  box-shadow: 0 0 10px #fc55ab80;
  transition: all 0.2s ease;
}
